* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    color: grey;
}

.navbar {
    display: flex;
    font-size: 200%;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em;
    width: 100%;
    background: #1c8924;
}

#center_nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#topMineCount,
#topTimeDisplay {
    background: black;
    border-radius: 5px;
    color: white;
    padding: 0.5em 1em 0.5em 1em;
}

#face {
    color: yellow;
    padding: 0.5em;
    margin: 0 0.5em 0 0.5em;
    background: grey;
    border-radius: 5px;
    cursor: pointer;
}

.line {
    background: white;
    width: 1em;
    height: 0.1em;
    margin: 0.1em;
}

#grid {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    /* background: lightgrey;
    margin: auto; */
    justify-content: space-around;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#sidebar {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#main {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    gap: 2rem;
}

#grid {
    display: grid;
    gap: 2px;
    margin: 2rem;
}

.beginner {
    grid-template-columns: repeat(10, 1fr);
    max-width: 400px;
    max-height: 400px;
}

.intermediate {
    grid-template-columns: repeat(16, 1fr);
    max-height: 0px;
}

.intermediate img {
    width: 30px;
    height: 30px;
    overflow: hidden;
}

.expert {
    grid-template-columns: repeat(30, 1fr);
    gap: 1px;
}

@media screen and (max-width: 960px) {
    .expert {
        grid-template-columns: repeat(20, 1fr);
    }

}

.expert img {
    width: 20px;
    height: 20px;
    overflow: hidden;
}

#face.red {
    color: red;
}